<h1>Bienvenido a Sinatra!</h1>
<p>Este es un esqueleto de sinatra que armamos para ti</p>

<form action="/cool_url" method="get">
  <input type="text" name="forma_uno">
  <textarea name="forma_uno"></textarea>
  <input type="radio" name="forma_uno" value="hola">hola<br>
  <input type="radio" name="forma_uno" value="adios">adios<br>
  <input type="checkbox" name="forma_uno" value="cuando">cuando<br>
  <input type="checkbox" name="forma_uno" value="donde">donde<br>
  <select name="forma_uno">
    <option value="reptil">reptil</option>
    <option value="anfibio">anfibio</option>
    <option value="mamífero">mamífero</option>
  </select>
  <input type="submit">
</form>

<form action="/cool_url" method="post">
  <input type="text" name="forma_dos">
  <textarea name="forma_dos"></textarea>
  <input type="radio" name="forma_dos" value="hola">hola<br>
  <input type="radio" name="forma_dos" value="adios">adios<br>
  <input type="checkbox" name="forma_dos" value="cuando">cuando<br>
  <input type="checkbox" name="forma_dos" value="donde">donde<br>
  <select name="forma_dos">
    <option value="reptil">reptil</option>
    <option value="anfibio">anfibio</option>
    <option value="mamífero">mamífero</option>
  </select>
  <input type="text" name="post[title]">
  <input type="text" name="post[price]">
  <textarea name="post[description]"></textarea>
  <input type="submit">
</form>  
