<h1>Find Anagrams!</h1>

<% if @new_word %>
  <p>Estos son anagramas para '<%= @new_word %>':</p>
  <% @canon_list.each do |post| %>
    <p><%= post.word %></p>
  <% end %>
<% end %>

<p>Busca una nueva palabra:</p>
<%= erb :_form, :layout => false %>



