<form id="answer_form" data-card="<%= @card.id %>">
  <p><%= @card.question %></p>
  <p>Answer: <input type="text" name="answer"></p>
  <input type="submit">
</form>

<div id=""><p><%= @right_wrong %></p></div>
<div id=""><p><%= @hola %></p></div>

