<% if @session %>
  <p><a href="/play">Play</a></p>
  <p><a href="/<%= @session %>/stats">Stats</a></p>
  <p><a href="/logout">Log out</a></p>
<% else %>
  <p><a href="/register">Register</a></p>
  <p><a href="/login">Login</a></p>
<% end %>