<% if @session %>
	<p><a href="/users/<%= @session %>">Profile</a></p>
	<p><a href="/logout">Log out</a></p>
<% else %>
	<p><a href="/register">Register</a></p>
	<p><a href="/login">Login</a></p>
<% end %>


<h1>URL Shortener</h1>

<form id="shortener_form" action="/" method="post">
  <input type="text" name="user_word">
  <input type="submit">
</form>


<div id="new_url">

</div>


<% if @error %>
    <p><%= @error %></p>
<% end %>