<p>login</p>
<form action="/login" method="post">
  <p>Email: <input type="text" name="email"></p>
  <p>Password: <input type="text" name="password"></p>
  <input type="submit">
</form>

<% if @error %>
    <p><%= @error %></p>
<% end %>

<p><a href="/">Inicio</a></p>