<h1>Create</h1>
<form action="/new" method="post">
  Title: <input type="text" name="post_title">
  Author: <input type="text" name="post_author">
  Body: <textarea name="post_body"></textarea>
  <label for="post_tags">Tags:</label>
  <input id="post_tags" name="post[tags]" value="tag1, tag2, otro tag, cuarto tag">
  <input type="submit">
</form>